:root>[data-md-color-scheme=slate] {
    /* 关键字 */
    /* 关键字及运算符 */
    --override-code-hl-keyword-color: #a78cfa;
    /* 命名 */
    /* 函数 */
    --override-code-hl-name-color: #6494ed;
    /* 内置命名 */
    --override-code-hl-name-builtin-color: #56b7c3;
    /* 类属性 */
    --override-code-hl-name-attribute-color: #e06c75;
    /* 类型 */
    --override-code-hl-type-color: #ff6ab3;
    /* 伪关键字 */
    --override-code-hl-pseudo-color: #F02B77;
    /* 异常 */
    --override-code-hl-exception-color: #f14c4a;
    /* 常量 */
    /* 字符串 */
    --override-code-hl-string-color: #98c379;
    --override-code-hl-escape-color: #56b7c3;
    /* 数字 */
    --override-code-hl-number-color: #ff9070;
    /* 其他 */
    /* 注释 */
    --override-code-hl-comment-color: #676e95;
    /* 文本 */
    /* 命名空间 */
    --override-code-hl-namespace-color: #E06C75;
    /* 变量 */
    --override-code-hl-text-color: #b0b7c3;
    /* 标点符号 */
    --override-code-hl-punctuation-color: #8b8e94;
    /* 预处理 */
    --override-code-hl-preprocessor-color: #ff9070;
    --override-code-fg-color: #9DA5B3;
    --override-code-bg-color: #282c34;
    --override-code-hl-color: #9900267F;
}

:root>[data-md-color-scheme=default] {
    /* 关键字 */
    /* 关键字及运算符 */
    --override-code-hl-keyword-color: #7C4DFF;
    /* 命名 */
    /* 函数 */
    --override-code-hl-name-color: #437AED;
    /* 内置命名 */
    --override-code-hl-name-builtin-color: #00BEC4;
    /* 类属性 */
    --override-code-hl-name-attribute-color: #CD6069;
    /* 类型 */
    --override-code-hl-type-color: #913b7d;
    /* 伪关键字 */
    --override-code-hl-pseudo-color: #FA278E;
    /* 异常 */
    --override-code-hl-exception-color: #f14c4a;
    /* 常量 */
    /* 字符串 */
    --override-code-hl-string-color: #53A053;
    --override-code-hl-escape-color: #00BEC4;
    /* 数字 */
    --override-code-hl-number-color: #ff6500;
    /* 其他 */
    /* 注释 */
    --override-code-hl-comment-color: #A0A1A7;
    /* 文本 */
    /* 命名空间 */
    --override-code-hl-namespace-color: #CD6069;
    /* 变量 */
    --override-code-hl-text-color: #626264;
    /* 标点符号 */
    --override-code-hl-punctuation-color: #696b6e;
    /* 预处理 */
    --override-code-hl-preprocessor-color: #ff9070;
    --override-code-fg-color: #5e5c5d;
    --override-code-bg-color: #EBEEF5;
    --override-code-hl-color: #c4003159;
}