/* Font color definition */

.highlight .o,
/* Operator */

.highlight .ow,
/* Operator, word */

.highlight .k,
/* Keyword */

.highlight .kr,
/* Keyword, reserved */

.highlight .kn,
/* Keyword, namespace */

.highlight .nl,
/* Name, label */

.highlight .nt,
/* Name, tag */

.highlight .ni
/* Name, entity */

    {
    color: var(--override-code-hl-keyword-color);
}

.highlight .p
/* Punctuation */

    {
    color: var(--override-code-hl-punctuation-color);
}

.highlight .cpf
/* Comment, preprocessor file */

    {
    color: var(--override-code-hl-preprocessor-color);
}

.highlight .l,
/* Literal */

.highlight .s,
/* Literal, string */

.highlight .sb,
/* Literal, string backticks */

.highlight .sc,
/* Literal, string char */

.highlight .s2,
/* Literal, string double */

.highlight .s1,
/* Literal, string single */

.highlight .ss
/* Literal, string symbol */

    {
    color: var(--override-code-hl-string-color);
}

.highlight .si,
/* Literal, string interpol */

.highlight .cp,
/* Comment, pre-processor */

.highlight .se,
/* Literal, string escape */

.highlight .sh,
/* Literal, string heredoc */

.highlight .sr,
/* Literal, string regex */

.highlight .sx
/* Literal, string other */

    {
    color: var(--override-code-hl-escape-color);
}

.highlight .m,
/* Number */

.highlight .mb,
/* Number, binary */

.highlight .mf,
/* Number, float */

.highlight .mh,
/* Number, hex */

.highlight .mi,
/* Number, integer */

.highlight .il,
/* Number, integer long */

.highlight .mo
/* Number, octal */

    {
    color: var(--override-code-hl-number-color);
}

.highlight .nn
/* Name, namespace */

    {
    color: var(--override-code-hl-namespace-color);
}

.highlight .kp,
/* Keyword, pseudo */

.highlight .bp
/* Name, builtin pseudo */

    {
    color: var(--override-code-hl-pseudo-color);
}

.highlight .kt,
/* Keyword, type */

.highlight .nc
/* Name, class */

    {
    color: var(--override-code-hl-type-color);
}

.highlight .kc,
/* Keyword, constant */

.highlight .no,
/* Name, constant */

.highlight .nf,
/* Name, function */

.highlight .fm,
/* Name, magic function */

.highlight .nd,
/* Name, decorator */

.highlight .nv,
/* Variable, */

.highlight .vc,
/* Variable, class */

.highlight .vg,
/* Variable, global */

.highlight .vi,
/* Variable, instance */

.highlight .vm
/* Variable, magic */

    {
    color: var(--override-code-hl-name-color);
}

.highlight .nb
/* Name, builtin */

    {
    color: var(--override-code-hl-name-builtin-color);
}

.highlight .ne
/* Name, exception */

    {
    color: var(--override-code-hl-exception-color);
}

.highlight .c,
/* Comment */

.highlight .cm,
/* Comment, multiline */

.highlight .c1,
/* Comment, single */

.highlight .ch,
/* Comment, shebang */

.highlight .cs,
/* Comment, special */

.highlight .sd
/* Literal, string doc */

    {
    color: var(--override-code-hl-comment-color);
}

.highlight .na
/* Name, attribute */

    {
    color: var(--override-code-hl-name-attribute-color);
}

.highlight .n,
/* Name */

.highlight .ge,
/* Generic, emph */

.highlight .gr,
/* Generic, error */

.highlight .gh,
/* Generic, heading */

.highlight .go,
/* Generic, output */

.highlight .gp,
/* Generic, prompt */

.highlight .gs,
/* Generic, strong */

.highlight .gu,
/* Generic, subheading */

.highlight .gt
/* Generic, traceback */

    {
    color: var(--override-code-hl-text-color);
}

.highlight .gd,
/* Diff, delete */

.highlight .gi {
    /* Diff, insert */
    font-weight: bold;
    margin: 0 px2em(-2px);
    padding: 0 px2em(2px);
    border-radius: px2rem(2px);
}

.highlight .gd {
    /* Diff, delete */
    background-color: var(--md-typeset-del-color);
}

.highlight .gi {
    /* Diff, insert */
    background-color: var(--md-typeset-ins-color);
}

.highlight .hll {
    /* Highlighted line */
    display: block;
    margin: 0 px2em(-16px, 13.6px);
    padding: 0 px2em(16px, 13.6px);
    background-color: var(--override-code-hl-color);
}

/* Style and weight definition */

.highlight .ow,
/* Operator, word */

.highlight .nn,
/* Name, namespace */

.highlight .vg,
/* Variable, global */

.highlight .vi,
/* Variable, instance */

.highlight .ne
/* Name, exception */

    {
    font-weight: bold;
}

.highlight .k,
/* Keyword */

.highlight .kr,
/* Keyword, reserved */

.highlight .cpf,
/* Comment, preprocessor file */

.highlight .fm,
/* Name, magic function */

.highlight .nd,
/* Name, decorator */

.highlight .vm,
/* Variable, magic */

.highlight .c,
/* Comment */

.highlight .cm,
/* Comment, multiline */

.highlight .c1,
/* Comment, single */

.highlight .ch,
/* Comment, shebang */

.highlight .cs,
/* Comment, special */

.highlight .sd
/* Literal, string doc */

    {
    font-style: italic;
}

/* Misc */

.highlight [data-linenos]::before {
    /* Code block line numbers (inline) */
    position: sticky;
    left: px2em(-16px, 13.6px);
    float: left;
    margin-right: px2em(16px, 13.6px);
    margin-left: px2em(-16px, 13.6px);
    padding-left: px2em(16px, 13.6px);
    color: var(--md-default-fg-color--light);
    background-color: var(--md-code-bg-color);
    box-shadow: px2rem(-1px) 0 var(--md-default-fg-color--lightest) inset;
    content: attr(data-linenos);
    user-select: none;
}

/* Code area color */

.md-typeset code, .md-typeset kbd, .md-typeset pre {
    color: var(--override-code-fg-color);
}

.md-typeset code {
    background-color: var(--override-code-bg-color);
}