.comment {
    overflow: hidden;
    border-right: 20px solid transparent;
}

.comment[data-md-color-accent=red] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#ff1744 80px 0);
}

.comment[data-md-color-accent=pink] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#f50057 80px 0);
}

.comment[data-md-color-accent=purple] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#e040fb 80px 0);
}

.comment[data-md-color-accent=deep-purple] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#7c4dff 80px 0);
}

.comment[data-md-color-accent=indigo] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#536dfe 80px 0);
}

.comment[data-md-color-accent=blue] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#448aff 80px 0);
}

.comment[data-md-color-accent=light-blue] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#0091ea 80px 0);
}

.comment[data-md-color-accent=cyan] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#00b8d4 80px 0);
}

.comment[data-md-color-accent=teal] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#00bfa5 80px 0);
}

.comment[data-md-color-accent=green] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#00c853 80px 0);
}

.comment[data-md-color-accent=light-green] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#64dd17 80px 0);
}

.comment[data-md-color-accent=lime] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#aeea00 80px 0);
}

.comment[data-md-color-accent=yellow] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#ffd600 80px 0);
}

.comment[data-md-color-accent=amber] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#ffab00 80px 0);
}

.comment[data-md-color-accent=orange] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#ff9100 80px 0);
}

.comment[data-md-color-accent=deep-orange] {
    position: relative;
    left: -80px;
    filter: drop-shadow(#ff6e40 80px 0);
}