{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" color="233,32,99" opacity='0.7' zIndex="-2" count="99"
    src="/js/canvas-nest.js"></script>
<script type="text/javascript" src="/js/loadColor.js"></script>
<script type="text/javascript">
    const gitalk = new Gitalk({
        clientID: '%s',
        clientSecret: '%s',
        repo: 'Comments',      // The repository of store comments,
        owner: 'HuangFuSL',
        admin: ['HuangFuSL'],
        id: md5(location.pathname),      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })
    gitalk.render('gitalk-container')
</script>
{% endblock %}
{% block libs %}
<script src="/js/gitalk.min.js"></script>
{% endblock %}
{% block site_nav %}
{% if nav %}
<div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            {% include "partials/nav.html" %}
        </div>
    </div>
</div>
{% endif %}
{% if page.toc %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            {% include "partials/toc.html" %}
        </div>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=230 height=360
            src="//music.163.com/outchain/player?type=0&id=5371395831&auto=1&height=430"></iframe>
    </div>
</div>
{% endif %}
{% endblock %}
{% block content %}
{% if page.nb_url %}
<a href="{{ page.nb_url }}" title="Download Notebook" class="md-content__button md-icon">
    {% include ".icons/material/download.svg" %}
</a>
{% endif %}
{{ super() }}
<div id="gitalk-container"></div>
{% endblock %}