{% extends "base.html" %}

{% block site_nav %}
{% if nav %}
    {% if page.meta and page.meta.hide %}
    {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
        {% include "partials/nav.html" %}
        </div>
    </div>
    </div>
{% endif %}
{% if not "toc.integrate" in features %}
    {% if page.meta and page.meta.hide %}
    {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}
    <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            {% include "partials/toc.html" %}
            <!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=230 height=360 src="//music.163.com/outchain/player?type=0&id=5371395831&auto=1&height=430"></iframe> -->
        </div>
    </div>
    </div>
{% endif %}
{% endblock %}
{% block libs %}
{% endblock %}
