# Built site
build/
*.gz

# Built LaTeX document
*.aux
*.log
*.out
*.xdv

# Icons and rendered LaTeX
*.svg

# Python
*.pyc
__pycache__/*


# tags
*.json
!.vscode/*.json
*.pdf

# Jupyter Notebook
.ipynb_checkpoints
.venv
