# Visual Studio Code Environment
.vscode/

# Built site
build/
overrides/main.html
*.gz

# Built LaTeX document
*.aux
*.log
*.xdv

# Icons and rendered LaTeX
*.svg
.icons/

# Python
*.pyc
__pycache__/*


# tags
*.json