wheel=0.38.4
mkdocs=1.4.2
neoteroi-mkdocs=0.1.2
mkdocs-awesome-pages-plugin=2.8.0
mkdocs-git-revision-date-localized-plugin=1.1.0
mkdocs-git-revision-date-plugin=0.3.2
mkdocs-material=8.5.11
mkdocs-material-extensions=1.1.1
mkdocs-macros-plugin=0.7.0
mkdocs-jupyter=0.22.0
pymdown-extensions=9.9
Markdown=3.4.1
matplotlib=3.6.2
pandas=1.5.2
jupyter=1.0.0
requests=2.28.1
jieba=0.42.1
lxml=4.9.2
