wheel
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-macros-plugin
mkdocs-jupyter
pymdown-extensions
Markdown
matplotlib
pandas
jupyter
requests
jieba
lxml
