wheel
mkdocs==1.5.3
neoteroi-mkdocs==1.0.5
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-git-revision-date-localized-plugin==1.2.5
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-material==9.5.23
mkdocs-macros-plugin==1.0.5
mkdocs-jupyter==0.24.7
pymdown-extensions==10.8.1
matplotlib==3.9.0
pandas==2.2.2
scikit-learn==1.4.2
jupyter==1.0.0
requests==2.31.0
jieba==0.42.1
lxml==5.2.2
mkdocs-meta-descriptions-plugin==3.0.0