.highlight .o,
/* Operator */

.highlight .ow {
    /* Operator, word */
    color: var(--md-code-hl-operator-color);
}

.highlight .p {
    /* Punctuation */
    color: var(--md-code-hl-punctuation-color);
}

.highlight .cpf,
/* Comment, preprocessor file */

.highlight .l,
/* Literal */

.highlight .s,
/* Literal, string */

.highlight .sb,
/* Literal, string backticks */

.highlight .sc,
/* Literal, string char */

.highlight .s2,
/* Literal, string double */

.highlight .si,
/* Literal, string interpol */

.highlight .s1,
/* Literal, string single */

.highlight .ss {
    /* Literal, string symbol */
    color: var(--md-code-hl-string-color);
}

.highlight .cp,
/* Comment, pre-processor */

.highlight .se,
/* Literal, string escape */

.highlight .sh,
/* Literal, string heredoc */

.highlight .sr,
/* Literal, string regex */

.highlight .sx {
    /* Literal, string other */
    color: var(--md-code-hl-special-color);
}

.highlight .m,
/* Number */

.highlight .mb,
/* Number, binary */

.highlight .mf,
/* Number, float */

.highlight .mh,
/* Number, hex */

.highlight .mi,
/* Number, integer */

.highlight .il,
/* Number, integer long */

.highlight .mo {
    /* Number, octal */
    color: var(--md-code-hl-number-color);
}

.highlight .k,
/* Keyword */

.highlight .kd,
/* Keyword, declaration */

.highlight .kn,
/* Keyword, namespace */

.highlight .kp,
/* Keyword, pseudo */

.highlight .kr,
/* Keyword, reserved */

.highlight .kt {
    /* Keyword, type */
    font-style: italic;
    color: var(--md-code-hl-keyword-color);
}

.highlight .kc,
/* Keyword, constant */

.highlight .n {
    /* Name */
    color: var(--md-code-hl-name-color);
}

.highlight .no,
/* Name, constant */

.highlight .nb,
/* Name, builtin */

.highlight .bp {
    /* Name, builtin pseudo */
    font-style: italic;
    color: var(--md-code-hl-constant-color);
}

.highlight .nc,
/* Name, class */

.highlight .ne,
/* Name, exception */

.highlight .nf,
/* Name, function */

.highlight .nn {
    /* Name, namespace */
    font-weight: bold;
    color: var(--md-code-hl-function-color);
}

.highlight .nd,
/* Name, decorator */

.highlight .ni,
/* Name, entity */

.highlight .nl,
/* Name, label */

.highlight .nt {
    /* Name, tag */
    color: var(--md-code-hl-keyword-color);
}

.highlight .c,
/* Comment */

.highlight .cm,
/* Comment, multiline */

.highlight .c1,
/* Comment, single */

.highlight .ch,
/* Comment, shebang */

.highlight .cs,
/* Comment, special */

.highlight .sd {
    /* Literal, string doc */
    color: var(--md-code-hl-comment-color);
}

.highlight .na,
/* Name, attribute */

.highlight .nv,
/* Variable, */

.highlight .vc,
/* Variable, class */

.highlight .vg,
/* Variable, global */

.highlight .vi {
    /* Variable, instance */
    color: var(--md-code-hl-variable-color);
}

.highlight .ge,
/* Generic, emph */

.highlight .gr,
/* Generic, error */

.highlight .gh,
/* Generic, heading */

.highlight .go,
/* Generic, output */

.highlight .gp,
/* Generic, prompt */

.highlight .gs,
/* Generic, strong */

.highlight .gu,
/* Generic, subheading */

.highlight .gt {
    /* Generic, traceback */
    color: var(--md-code-hl-generic-color);
}

.highlight .gd,
/* Diff, delete */

.highlight .gi {
    /* Diff, insert */
    font-weight: bold;
    margin: 0 px2em(-2px);
    padding: 0 px2em(2px);
    border-radius: px2rem(2px);
}

.highlight .gd {
    /* Diff, delete */
    background-color: var(--md-typeset-del-color);
}

.highlight .gi {
    /* Diff, insert */
    background-color: var(--md-typeset-ins-color);
}

.highlight .hll {
    /* Highlighted line */
    display: block;
    margin: 0 px2em(-16px, 13.6px);
    padding: 0 px2em(16px, 13.6px);
    background-color: var(--md-code-hl-color);
}

.highlight [data-linenos]::before {
    /* Code block line numbers (inline) */
    position: sticky;
    left: px2em(-16px, 13.6px);
    float: left;
    margin-right: px2em(16px, 13.6px);
    margin-left: px2em(-16px, 13.6px);
    padding-left: px2em(16px, 13.6px);
    color: var(--md-default-fg-color--light);
    background-color: var(--md-code-bg-color);
    box-shadow: px2rem(-1px) 0 var(--md-default-fg-color--lightest) inset;
    content: attr(data-linenos);
    user-select: none;
}