button[data-md-color-accent], button[data-md-color-primary] {
    width: 6.5rem;
    margin-bottom: .2rem;
    padding: 1.2rem .4rem .2rem;
    -webkit-transition: background-color .25s, opacity .25s;
    transition: background-color .25s, opacity .25s;
    border-radius: .1rem;
    color: #fff;
    font-size: .64rem;
    font-family: 'PingFang SC';
    text-align: left;
    cursor: pointer;
}

button[data-md-color-accent]:hover, button[data-md-color-primary]:hover {
    opacity: .75
}

button[data-md-color-primary=red] {
    background-color: #ef5350;
}

button[data-md-color-primary=pink] {
    background-color: #e91e63
}

button[data-md-color-primary=purple] {
    background-color: #ab47bc
}

button[data-md-color-primary=deep-purple] {
    background-color: #7e57c2
}

button[data-md-color-primary=indigo] {
    background-color: #3f51b5
}

button[data-md-color-primary=blue] {
    background-color: #2196f3
}

button[data-md-color-primary=light-blue] {
    background-color: #03a9f4
}

button[data-md-color-primary=cyan] {
    background-color: #00bcd4
}

button[data-md-color-primary=teal] {
    background-color: #009688
}

button[data-md-color-primary=green] {
    background-color: #4caf50
}

button[data-md-color-primary=light-green] {
    background-color: #7cb342
}

button[data-md-color-primary=lime] {
    background-color: #c0ca33
}

button[data-md-color-primary=yellow] {
    background-color: #f9a825
}

button[data-md-color-primary=amber] {
    background-color: #ffa000
}

button[data-md-color-primary=orange] {
    background-color: #fb8c00
}

button[data-md-color-primary=deep-orange] {
    background-color: #ff7043
}

button[data-md-color-primary=brown] {
    background-color: #795548
}

button[data-md-color-primary=grey] {
    background-color: #757575
}

button[data-md-color-primary=blue-grey] {
    background-color: #546e7a
}

button[data-md-color-primary=white] {
    box-shadow: inset 0 0 .05rem rgba(0, 0, 0, .54);
    color: rgba(0, 0, 0, .87);
}

button[data-md-color-accent=red] {
    background-color: #ff1744
}

button[data-md-color-accent=pink] {
    background-color: #f50057
}

button[data-md-color-accent=purple] {
    background-color: #e040fb
}

button[data-md-color-accent=deep-purple] {
    background-color: #7c4dff
}

button[data-md-color-accent=indigo] {
    background-color: #536dfe
}

button[data-md-color-accent=blue] {
    background-color: #448aff
}

button[data-md-color-accent=light-blue] {
    background-color: #0091ea
}

button[data-md-color-accent=cyan] {
    background-color: #00b8d4
}

button[data-md-color-accent=teal] {
    background-color: #00bfa5
}

button[data-md-color-accent=green] {
    background-color: #00c853
}

button[data-md-color-accent=light-green] {
    background-color: #64dd17
}

button[data-md-color-accent=lime] {
    background-color: #aeea00
}

button[data-md-color-accent=yellow] {
    background-color: #ffd600
}

button[data-md-color-accent=amber] {
    background-color: #ffab00
}

button[data-md-color-accent=orange] {
    background-color: #ff9100
}

button[data-md-color-accent=deep-orange] {
    background-color: #ff6e40
}