body {
    background-color: var(--md-default-bg-color) !important;
    color: var(--md-default-fg-color) !important;
    --jp-content-font-color1: var(--md-default-fg-color);
    --jp-layout-color2: var(--override-code-bg-color);
    --jp-layout-color0: var(--override-code-bg-color);
    --jp-cell-prompt-not-active-font-color: var(--override-code-fg-color);
    --jp-cell-editor-background: var(--override-code-bg-color);
    --jp-cell-prompt-not-active-opacity: 1;
    --jp-code-font-family: var(--md-code-font-family);
    --jp-content-font-family: var(--md-text-font-family);
    --jp-ui-font-family: var(--md-text-font-family);
    --jp-border-width: 0px;
    --jp-cell-editor-border-color: transparent;
    --jp-rendermime-error-background: var(--override-code-err-color);
}

span.MathJax_CHTML {
    font-size: 100% !important;
}

.jp-RenderedHTMLCommon p {
    color: inherit;
    font-size: .8rem;
    line-height: 1.6;
    font-family: inherit;
}

.jp-RenderedHTMLCommon pre, .jp-RenderedHTMLCommon code {
    font-size: .8rem;
    line-height: 1.6;
    font-family: inherit;
}

small {
    font-size: 80% !important;
}

.jp-RenderedHTMLCommon li {
    color: inherit;
    font-size: .8rem;
    line-height: 1.6;
    font-family: inherit;
}

.jp-RenderedHTMLCommon h1 {
    color: inherit;
    margin: 0 0 1.25em;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.3;
    letter-spacing: -0.01em;
    font-family: inherit;
}

.jp-RenderedHTMLCommon h2 {
    color: inherit;
    margin: 1.6em 0 .64em;
    font-weight: 300;
    font-size: 1.965em;
    line-height: 1.4;
    letter-spacing: -0.01em;
    font-family: inherit;
}

.jp-RenderedHTMLCommon h3 {
    color: inherit;
    margin: 1.6em 0 .8em;
    font-weight: 400;
    font-size: 1.57em;
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-family: inherit;
}

.jp-RenderedHTMLCommon hr {
    color: inherit;
    font-family: inherit;
    border: none;
}