.home-timeline .nt-timeline-title {
    font-size: 1.01rem !important;
}

.nt-timeline-title a {
    color: unset !important;
}

.nt-timeline-title a:hover {
    color: var(--md-typeset-a-color) !important;
}

.home-timeline .nt-timeline-sub-title {
    font-size: 0.7rem !important;
}